{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}
    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>{{ story.author }}</h4>
        {% if user.is_authenticated %}
            {% if is_favorite %}
                <a href="{% url 'news:remove_favorite' news_story_id=story.id %}">Remove from Favorites</a>
            {% else %}
                <a href="{% url 'news:add_favorite' news_story_id=story.id %}">Add to Favorites</a>
            {% endif %}
        {% endif %}
        <div id="story-content">
            {% if story.image %}
                <img src="{{ story.image.url }}" alt="{{ story.title }}">
            {% else %}
                <img src="{% static 'news/images/placeholder-5.jpg' %}" alt="{{ story.title }}">
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
    </div>
{% endblock %}


